---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
  <h1 class="text-5xl font-bold">About this project</h1>
  <p class="text-gray-400 text-lg pt-4">
    This website is dedicated to helping you learn the Astro framework. It provides comprehensive tutorials, examples, and resources to guide you in mastering Astro development. Additionally, this website showcases the latest SpaceX launches, keeping you updated with the most recent space exploration endeavors.
  </p>
</Layout>
